# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# Flask database
instance/*.db
instance/*.sqlite
instance/*.sqlite3

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log
