{% extends "base.html" %}

{% block title %}
Edit Flight
{% endblock %}

{% block content %}

<section class="feature">

<h2>Edit Flight</h2>

<form method="POST">

{{ form.hidden_tag() }}

<p>{{ form.flight_number.label }}<br>{{ form.flight_number(size=30) }}</p>

    <small class="help-text">

    Example: ESH 101

    </small>

<p>{{ form.origin.label }}<br>{{ form.origin(size=30) }}</p>

<p>{{ form.destination.label }}<br>{{ form.destination(size=30) }}</p>

<p>{{ form.departure_time.label }}<br>{{ form.departure_time() }}</p>

<p>{{ form.available_seats.label }}<br>{{ form.available_seats() }}</p>

<p>{{ form.price.label }}<br>{{ form.price() }}</p>

<p>{{ form.submit(class="button") }}</p>

</form>

</section>

{% endblock %}
